@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@font-face {
  font-family: headingOne;
  src: url('./assets-metropolis/assets-metropolis/fonts/kanit-bold.woff');
}
@font-face {
  font-family: nav;
  src: url('./assets-metropolis/assets-metropolis/fonts/kanit-semibold.woff');
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

a{
        color: #fff;
        font-family: nav, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .85rem;
        font-weight: 100;
}
a:active{
        background-color: transparent;
        border: none;
        outline: none;
}
ul{
        list-style: none;
}
.heroSection{
        min-height: 100vh;
        background-color: #000;
        padding-block: 2rem;
        padding-top: 0rem;
}
nav{
        background-color: #000;
        padding: 1.2rem;
}

.burgerMenu{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: .95rem;
        margin-top: -2px;
}

.mobileNav{
        display: flex;
        justify-content: space-between;
        padding-inline: 1rem;
        z-index: 201;
        position: sticky;
        width: 100%;
        align-items: flex-start;
}
.mobileNav .title{
        position: relative;
        background-color: #000;
}
.mobileNav .title li a *{
        color: #fff;
        font-size: 1rem;
}
.mobileNav .title li{
        display: inline;
        margin-right: .7rem;
}

.nav{
        width: 95%;
        margin: auto;
        max-width: 93.75rem;
        position: absolute;
        background-color: #000;
        height: 90%;
        z-index: 200;
        transform: translateY(-100%);
        transition: all .4s ease-in-out;
}
.nav li{
        padding: .7rem;
        transition: all .3s ease-in-out;
        border-radius: 4px;
}
.nav li:hover{
        background-color: #ffffff23;
}

.showNav{
        transform: translateY(0%);
}

.heroSection .container{
        width: 90%;
        max-width: 93.75rem;
        margin: auto;
}
.heading{
        text-align: center;
        font-size: 1.5rem;
        color: #fff;
        font-family: headingOne;
        text-transform: uppercase;
        letter-spacing: .2rem;
}
.outline{
        color: #000;
        margin-top: 1rem;
        -webkit-text-stroke: 2px #fff;
        opacity: 0;
        transition: opacity 2s ease-in-out;
}
.left{
        margin-top: 2rem;
}
.right{
        display: none;
}







.wrapper{
        overflow: hidden;
}


.ImageGrid{
        margin-top: 2rem;
        display: flex;
        position: relative;
        height: 30rem;
        width: 100%;
}
.img{
        width: 100%;
        /* border: 1px solid saddlebrown; */
}
/* .ImageGrid .span{
        height: 115%;
} */

button{
        display: none;
}
.animateOutlineHeading{
        opacity: 1;
}

.desktop{
        display: none;
}


































































@media(min-width: 37rem){
        nav{
                padding-block: 4rem;
        }
        .mobileNav{
                display: none;
        }
        .nav{
                position: relative;
                display: flex;
                justify-content: space-between;
        }
        .nav ul li{
                display: inline;
        }
        .heading{
                font-size: 4rem;
        }
        .outline{
                margin-top: 1rem;
                -webkit-text-stroke: 5px #fff;
        }
        .ImageGrid{
                transform: unset;
                display: flex;
                margin-top: 5rem;
                height: calc(100vh - 26rem);    
        }
        .ImageGrid .imgWrapper{
                height: 100%;
                width: 33%;
                opacity: 0;
                position: static;
                animation: spaceInDown 1s forwards;
                border: 5px solid #000;
        }
        .ImageGrid .two{
                animation: spaceInDown 1s 0.2s forwards ;
        }
        .ImageGrid .three{
                animation: spaceInDown 1s 0.1s forwards ;
        }
        
        @keyframes spaceInDown {
                0% {
                        opacity: 0;
                        -webkit-transform-origin: 50% 100%;
                        transform-origin: 50% 100%;
                        -webkit-transform: scale(0.2) translate(0%, 10%);
                        transform: scale(0.8) translate(0%, 10%);
                }

                100% {
                        opacity: 1;
                        -webkit-transform-origin: 50% 100%;
                        transform-origin: 50% 100%;
                        -webkit-transform: scale(1) translate(0%, 0%);
                        transform: scale(1) translate(0%, 0%);
                }
        }
        
        @-webkit-keyframes spaceInDown {
                0% {
                        opacity: 0;
                        -webkit-transform-origin: 50% 100%;
                        transform-origin: 50% 100%;
                        -webkit-transform: scale(0.2) translate(0%, 10%);
                        transform: scale(0.8) translate(0%, 10%);
                }

                100% {
                        opacity: 1;
                        -webkit-transform-origin: 50% 100%;
                        transform-origin: 50% 100%;
                        -webkit-transform: scale(1) translate(0%, 0%);
                        transform: scale(1) translate(0%, 0%);
                }
        }
        #firstClone, #lastClone{
                display: none;
        }
        .mobile{
                display: none;
        }
        .desktop{
                display: flex;
        }
        .left{
                margin-top: 0rem;
        }
        .right{
                display: block;
        }
        .right a{
                font-size: 1.2rem;
                margin-inline: 1rem;
        }

        
}

